body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* background: linear-gradient(20.6deg, rgba(32, 44, 55, 0.229) 10%, rgb(124, 143, 161) 70%); */
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 8em;
}

.text-color {
  color: #fff;
}

.background-white {
  background-color: #fff;
}

.footer-backgorund {
  background-color: #1A1A1A !important;
}